---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
SortIncludes: false
PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterCStyleCast: false
ReflowComments: true
