<?xml version="1.0"?>
<model>
    <name>iCub fixed with contact sensor</name>

    <version>1.2</version>
    <sdf version='1.4'>icub_contact.sdf</sdf>

    <author>
        <name>Alexandre Loeblein Heinen</name>
        <email>alexandre.loebleinheinen@supelec.fr</email>
    </author>

    <description>
        Model for the iCub humanoid robot with contact sensor for force interface. For more information check icub.org or contact me.
    </description>
</model>
